<!-- <ng-template *ngFor="let object of data | searchFilter: filterString; index as i"></ng-template> -->
<mat-accordion class="accordion-wrap clients" *ngFor="let object of data">
    <mat-expansion-panel class="item" hideToggle>
        <mat-expansion-panel-header class="heading">
            <ng-container *ngIf="flag == 1 || flag == 3">
                <mat-panel-title>
                    <span>{{object.name}}</span>
                </mat-panel-title>
            </ng-container>
            <ng-container *ngIf="flag == 2">
                <mat-panel-title>
                    <span>{{object.name}}</span> <span><em>({{object.description}})</em></span>
                </mat-panel-title>
            </ng-container>
        </mat-expansion-panel-header>
        <app-form [flag]="flag" [selectedData]="object" [parentComponent]="'accordion'"></app-form>
    </mat-expansion-panel>
</mat-accordion>