.mat-expansion-panel{
    box-shadow: none;
    background: #ececec;
    font-size: 12px;
}
.buttons{
    float: right;

    div {
        top: 100%;
        right: 0%;
        
        a {
            margin-left: 1em; 
        }
    }
}