.prev {
  text-align: left;
}

tr.mat-header-row {
  height: auto;
}

.mat-cell {
  border-bottom-style: none;
  border-bottom-width: 0px;
  font-size: 12px;
}

.mat-cell:last-of-type {
  padding-right: 0px;
}

.mat-header-cell:last-of-type {
  padding-right: 0px;
}

.mat-row {
  height: 0px;
}

.mat-table {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
}

.mat-typography {
  font: inherit;
}
