<div class="wrapper">
    <section class="content">
        <h2><i class="ico timesheet"></i>TimeSheet</h2>
        <div class="grey-box-wrap">
            <div class="top">
                <button mat-button (click)="getPreviousWeek()" class="prev">
                    <mat-icon aria-hidden="false" aria-label="chevron left">chevron_left</mat-icon> previous week
                </button>
                <span class="center">{{ selectedDate.startingDateOfTheWeek | date:'MMMM dd' }} - {{ selectedDate.endingDateOfTheWeek | date:'MMMM dd,
                    yyyy' }} (week {{selectedDate.endingDateOfTheWeek | date:'ww'}})</span>
                <button mat-button (click)="getNextWeek()" class="next">next week <mat-icon aria-hidden="false"
                        aria-label="navigate next">navigate_next</mat-icon></button>
            </div>
            <div class="bottom">
                <ul class="days">
                    <li *ngFor="let day of selectedDate.week"
                        [ngClass]="{'active': (day | date:'shortDate') == (selectedDate.date | date:'shortDate'), 'last': day == selectedDate.endingDateOfTheWeek}">
                        <a (click)="setDifferentDate(day)">
                            <b>{{ day | date:'ccc dd'}}</b>
                            <span>{{ day | date:'EEEE'}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <table mat-table class="default-table" [dataSource]="form.controls.tableFields.value" [formGroup]="form"
            [trackBy]="trackByIndex">
            <ng-container matColumnDef="client" [formArrayName]="'tableFields'">
                <th mat-header-cell *matHeaderCellDef>Client <em>*</em></th>
                <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i" trackBy:trackByFn>
                    <select mat-select [formControlName]="'clientId'">
                        <option mat-option value="">Choose client</option>
                        <option mat-option *ngFor="let client of clients" [value]="client.id" required>
                            {{client.name}}
                        </option>
                    </select>
            </ng-container>
            <ng-container matColumnDef="project" [formArrayName]="'tableFields'">
                <th mat-header-cell *matHeaderCellDef>Project <em>*</em></th>
                <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i" trackBy:trackByFn>
                    <select mat-select [formControlName]="'projectId'">
                        <option mat-option value="">Choose project</option>
                        <option mat-option *ngFor="let project of projects" [value]="project.id" required>
                            {{project.name}}
                        </option>
                    </select>
            </ng-container>
            <ng-container matColumnDef="category" [formArrayName]="'tableFields'">
                <th mat-header-cell *matHeaderCellDef>Category<em>*</em></th>
                <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i" trackBy:trackByFn>
                    <select mat-select [formControlName]="'categoryId'">
                        <option mat-option value="">Choose category</option>
                        <option mat-option *ngFor="let category of categories" [value]="category.id" required>
                            {{category.name}}
                        </option>
                    </select>
            </ng-container>
            <ng-container matColumnDef="description" [formArrayName]="'tableFields'">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i" trackBy:trackByFn>
                    <input mat-input type="text" class="in-text medium" [formControlName]="'description'" />
            </ng-container>
            <ng-container matColumnDef="time" [formArrayName]="'tableFields'" class="small">
                <th mat-header-cell *matHeaderCellDef>Time<em>*</em></th>
                <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i" trackBy:trackByFn>
                    <input mat-input type="text" class="in-text xsmall" [formControlName]="'time'" />
            </ng-container>
            <ng-container matColumnDef="overTime" [formArrayName]="'tableFields'" class="small">
                <th mat-header-cell *matHeaderCellDef>Overtime</th>
                <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i" trackBy:trackByFn>
                    <input mat-input type="text" class="in-text xsmall" [formControlName]="'overTime'" />
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="total">
            <a href="index.html" (click)="resetActiveDate()"><i></i>back to monthly view</a>
            <span>Total hours: <em>{{time}}</em></span>
        </div>
        <div class="buttons">
            <div class="inner">
                <button type="submit" class="btn green float-right" (click)="save()">Save changes</button>
            </div>
        </div>
    </section>
</div>