<div class="wrapper">
    <section class="content">
            <h2>{{ title }}</h2>
        <ng-container *ngIf="flag != 4">
            <div class="grey-box-wrap reports">
                    <button (click)="openDialog()" class="link new-member-popup">Create new {{ title | lowercase | slice:0:-1 }}</button>
                <ng-container *ngIf="flag == 1 || flag == 2">
                    <app-searchbox [options]="dataNames"></app-searchbox>
                </ng-container>
            </div>
            <ng-container *ngIf="flag == 1 || flag == 2">
                <app-alpha-sort (selectedCharacterEvent)="setSelectedCharacterForSorting($event)"></app-alpha-sort>
            </ng-container>
            <app-accordion [filter]="alphabetSortingString" [data]="data" [flag]="flag"></app-accordion>
            <app-pagination></app-pagination>
        </ng-container>
    </section>
</div>