<div class="wrapper">
    <section class="content">
        <ng-container *ngIf="url === 'clients'">
            <h2><i class="ico clients"></i>Clients</h2>
            <!-- <h2><mat-icon>business</mat-icon> Clients </h2> -->
            <div class="grey-box-wrap reports">
                <button (click)="openDialog()" class="link new-member-popup">Create new client</button>
                <app-searchbox></app-searchbox>
            </div>
            <app-alpha-sort></app-alpha-sort>
            <app-accordion></app-accordion>
            <app-pagination></app-pagination>
        </ng-container>
        <ng-container *ngIf="url === 'projects'">
            <h2><i class="ico projects"></i>Projects</h2>
            <div class="grey-box-wrap reports">
                <button (click)="openDialog()" class="link new-member-popup">Create new project</button>
                <app-searchbox></app-searchbox>
            </div>
            <app-alpha-sort></app-alpha-sort>
            <app-accordion></app-accordion>
            <app-pagination></app-pagination>
        </ng-container>
        <ng-container *ngIf="url === 'categories'">
            <h2><i class="ico categories"></i>Categories</h2>
        </ng-container>
        <ng-container *ngIf="url === 'teamMembers'">
            <h2><i class="ico team-member"></i>Team members</h2>
            <div class="grey-box-wrap reports ico-member">
                <button (click)="openDialog()" class="link new-member-popup">Create new member</button>
            </div>
            <app-accordion></app-accordion>
            <app-pagination></app-pagination>
        </ng-container>
    </section>
</div>