<div class="wrapper calendar">
    <section class="content">
        <h2><i class="ico timesheet"></i>TimeSheet</h2>
        <div class="grey-box-wrap">
            <div class="top">
                <button mat-button (click)="getPreviousMonth()" class="prev">
                    <mat-icon aria-hidden="false" aria-label="chevron left">chevron_left</mat-icon> previous month
                </button>
                <span class="center">{{ currentDate | date:'LLLL,YYYY' }}</span>
                <button mat-button (click)="getNextMonth()" class="next">next month <mat-icon aria-hidden="false"
                        aria-label="navigate next">navigate_next</mat-icon></button>
            </div>
        </div>
        <table class="month-table">
            <tr class="head">
                <th *ngFor="let column of displayedColumns">{{ column | uppercase }}</th>
            </tr>
            <tr class="mobile-head">
                <th *ngFor="let column of displayedColumnsMobile">{{ column | uppercase }}</th>
            </tr>
            <tbody>
                <tr *ngFor="let row of dataSource">
                    <!-- <td *ngFor="let data of row" [ngClass]="getCellClass(data.date, data.hours)"> -->
                    <td *ngFor="let data of row"
                        [ngClass]="{'disable': data.date > this.endDate, 'previous': data.date < this.startDate, 'positive': data.hours >= 7.5, 'negative': data.hours > 0 && data.hours < 7.5}">
                        <div class="date">
                            <span>{{data.date | date:'dd'}}.</span>
                        </div>
                        <div class="hours">
                            <a routerLink="day" routerLinkActive="active">
                                Hours: <span>{{data.hours}}</span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="total">
            <span>Total hours: <em>{{ totalHours }}</em></span>
        </div>
    </section>
</div>