.buttons{
    float: right;

    div {
        top: 100%;
        right: 0%;
        
        a {
            margin-left: 1em; 
        }
    }
}

.checkbox-as-radio {
    -webkit-appearance: radio; /* Chrome, Safari, Opera */
  	-moz-appearance: radio;    /* Firefox */
  	-ms-appearance: radio;     /* not currently supported */
}