<ng-container *ngIf="flag == 1">
    <div class="container">
        <form class="mat-dialog-content" #formControl="ngForm">
            <div class="form">
                <mat-form-field>
                    <label>Client name:</label>
                    <input matInput [(ngModel)]="data.name" name="name" required="required">
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field>
                    <label>Zip/Postal code:</label>
                    <input matInput [(ngModel)]="data.postalCode" name="postalCode" required="required">
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field>
                    <label>Address:</label>
                    <input matInput [(ngModel)]="data.address" name="address" required="required">
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field>
                    <label>Country:</label>
                    <mat-select [(ngModel)]="data.countryId" name="countryId">
                        <mat-option *ngFor="let country of countries" [value]="country.id" required>
                            {{country.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field>
                    <label>City:</label>
                    <input matInput="matInput" [(ngModel)]="data.city" name="city" required="required">
                </mat-form-field>
            </div>
            <ng-container *ngIf="parentComponentName === 'accordion'">
                <div class="buttons">
                    <div class="inner">
                        <button class="btn green margin" (click)="save()" [disabled]="!formControl.valid">Save</button>
                        <button class="btn red" (click)="delete()">Delete</button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="parentComponentName === 'dialog'">
                <button class="btn green margin" (click)="save()" [disabled]="!formControl.valid">Save</button>
                <button class="btn red" (click)="cancel()">Cancel</button>
            </ng-container>
        </form>
    </div>
</ng-container>
<ng-container *ngIf="flag == 2">
    <div class="container">
        <form class="mat-dialog-content" #formControl="ngForm">
            <div class="form">
                <mat-form-field>
                    <label>Project name:</label>
                    <input matInput [(ngModel)]="data.name" name="name" required="required">
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field>
                    <label>Lead:</label>
                    <mat-select [(ngModel)]="data.leadId" name="leadId">
                        <mat-option *ngFor="let teamMember of teamMembers" [value]="teamMember.id" required>
                            {{teamMember.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field>
                    <label>Description:</label>
                    <input matInput [(ngModel)]="data.description" name="description" required="required">
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field>
                    <label>Customer:</label>
                    <mat-select [(ngModel)]="data.clientId" name="clientId">
                        <mat-option *ngFor="let client of clients" [value]="client.id" required>
                            {{client.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <ng-container *ngIf="parentComponentName === 'accordion'">
                <div class="form">
                    <label id="radio-group-label">Status:</label>
                    <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" [(ngModel)]="data.projectStatus" name="projectStatus">
                        <mat-radio-button color="primary" *ngFor="let state of status" [value]="state.value" required>
                            {{state.name}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="form">
                    <label>Archive:</label>
                    <mat-checkbox color="primary" [(ngModel)]="data.archive" name="archive" ngDefaultControl></mat-checkbox>
                </div>
                <div class="buttons">
                    <div class="inner">
                        <button class="btn green margin" (click)="save()" [disabled]="!formControl.valid">Save</button>
                        <button class="btn red" (click)="delete()">Delete</button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="parentComponentName === 'dialog'">
                <button class="btn green margin" (click)="save()" [disabled]="!formControl.valid">Save</button>
                <button class="btn red" (click)="cancel()">Cancel</button>
            </ng-container>
        </form>
    </div>
</ng-container>
<ng-container *ngIf="flag == 3">
    <div class="container">
        <form class="mat-dialog-content" #formControl="ngForm">
            <div class="form">
                <mat-form-field>
                    <label>Name:</label>
                    <input matInput [(ngModel)]="data.name" name="name" required="required">
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field>
                    <label>Hours per week:</label>
                    <input matInput [(ngModel)]="data.hoursPerWeek" name="hoursPerWeek" required="required">
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field>
                    <label>Username:</label>
                    <input matInput [(ngModel)]="data.username" name="username" required="required">
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field>
                    <label>Email:</label>
                    <input matInput [(ngModel)]="data.email" name="email" required="required">
                </mat-form-field>
            </div>
            <div class="form">
                <label id="radio-group-label">Status:</label>
                <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" [(ngModel)]="data.status" name="status">
                    <mat-radio-button color="primary" *ngFor="let state of status" [value]="state.value">
                        {{state.name}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="form">
                <mat-form-field>
                    <label>Role:</label>
                        <mat-select [(ngModel)]="data.roles" name="roles" multiple>
                        <mat-option *ngFor="let role of roles" [value]="role.id" required>{{role.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="buttons">
                <div class="inner">
                    <ng-container *ngIf="parentComponentName === 'accordion'">
                        <button class="btn green margin" (click)="save()" [disabled]="!formControl.valid">Save</button>
                        <button class="btn red" (click)="delete()">Delete</button>
                        <button class="btn red" (click)="resetPassword()">Reset password</button>
                    </ng-container>
                    <ng-container *ngIf="parentComponentName === 'dialog'">
                        <button class="btn green margin" (click)="save()" [disabled]="!formControl.valid">Invite member</button>
                        <button class="btn red" (click)="cancel()">Cancel</button>
                    </ng-container>
                </div>
            </div>
        </form>
    </div>
</ng-container>
<ng-container *ngIf="flag == 4">
    <div class="grey-box-wrap reports">
        <form class="mat-dialog-content" #formControl="ngForm" class="report">
            <div class="form">
                <div mat-form-field>
                    <label>Team member:</label>
                    <mat-select [(ngModel)]="data.teamMemberId" name="teamMemberId" class="report select" placeholder="All">
                        <mat-option *ngFor="let member of teamMembers" [value]="member.id">
                            {{member.name}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="form">
                <div mat-form-field>
                    <label>Category:</label>
                    <mat-select [(ngModel)]="data.categoryId" name="categoryId" class="report select" placeholder="All">
                        <mat-option *ngFor="let category of categories" [value]="category.id">
                            {{category.name}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="form">
                <div mat-form-field>
                    <label>Client:</label>
                    <mat-select [(ngModel)]="data.clientId" name="clientId" class="report select" placeholder="All">
                        <mat-option *ngFor="let client of clients" [value]="client.id">
                            {{client.name}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="form">
                <!-- DATEPICKER -->
                <div mat-form-field>
                    <label>Start date:</label>
                    <input matInput [(ngModel)]="data.startDate" name="startDate" [matDatepicker]="pickerStartDate">
                    <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStartDate></mat-datepicker>
                </div>
            </div>
            <div class="form">
                <div mat-form-field>
                    <label>Project:</label>
                    <mat-select [(ngModel)]="data.projectId" name="projectId" class="report select" placeholder="All">
                        <mat-option *ngFor="let project of projects" [value]="project.id">
                            {{project.name}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="form">
                <!-- DATEPICKER -->
                <div mat-form-field>
                    <label>End date:</label>
                    <input matInput [(ngModel)]="data.endDate" name="endDate" [matDatepicker]="pickerEndDate">
                    <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEndDate></mat-datepicker>
                </div>
            </div>
            <div class="buttons">
                <div class="inner">
                    <button class="btn orange right" (click)="reset()" >Reset</button>
                    <button class="btn green right" (click)="search()">Search</button>
                </div>
            </div>
        </form>
    </div>
</ng-container>
