<ng-container *ngIf="data.url === 'clients'">
    <div class="container">
        <h2 mat-dialog-title> Create new client </h2>
        <form class="mat-dialog-content" #formControl="ngForm">
            <div class="form-content">
                <label>Client name:</label>
                <div mat-form-field class="form-field">
                    <input matInput type="text" class="in-text">
                    <!-- <input matInput [(ngModel)]="data.name"> -->
                </div>
                <label>Address:</label>
                <div mat-form-field class="form-field">
                    <input matInput type="text" class="in-text">
                    <!-- <input matInput [(ngModel)]="data.address"> -->
                </div>
                <label>City:</label>
                <div mat-form-field class="form-field">
                    <input matInput type="text" class="in-text">
                    <!-- <input matInput [(ngModel)]="data.city"> -->
                </div>
                <label>Postal code:</label>
                <div mat-form-field class="form-field ">
                    <input matInput type="text" class="in-text">
                    <!-- <input matInput [(ngModel)]="data.postalCode"> -->
                </div>
                <label>Country:</label>
                <div mat-form-field class="form-field">
                    <input matInput type="text" class="in-text">
                    <!-- <input matInput [(ngModel)]="data.country"> -->
                </div>
            </div>
            <div mat-dialog-actions class="buttons">
                <div class="inner">
                    <button [mat-dialog-close]="data.animal" class="btn green margin">Save</button>
                    <button (click)="onNoClick()" class="btn red margin">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</ng-container>
<ng-container *ngIf="data.url === 'projects'">
    <div class="container">
        <h2 mat-dialog-title> Create new project </h2>
        <div mat-dialog-content>
            <p>Project name:</p>
            <mat-form-field class="form-field">
                <mat-label>Project name</mat-label>
                <input matInput>
            </mat-form-field>
            <p>Description:</p>
            <mat-form-field class="form-field">
                <mat-label>Description</mat-label>
                <input matInput>
            </mat-form-field>
            <p>Customer:</p>
            <mat-form-field class="form-field">
                <mat-label>Customer</mat-label>
                <mat-select name="customers">
                    <mat-option *ngFor="let customer of customers">
                        {{customer}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <p>Lead:</p>
            <mat-form-field class="form-field">
                <mat-label>Lead</mat-label>
                <mat-select name="leads">
                    <mat-option *ngFor="let lead of leads">
                        {{lead}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div mat-dialog-actions class="buttons">
            <div class="inner">
                <button mat-button [mat-dialog-close]="data.animal" class="btn green">Save</button>
                <button mat-button (click)="onNoClick()">Cancel</button>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="data.url === 'teamMembers'">
    <div class="container">
        <h2 mat-dialog-title> Create new member </h2>
        <div mat-dialog-content>
            <p>Name:</p>
            <mat-form-field class="form-field">
                <mat-label>Name</mat-label>
                <input matInput>
            </mat-form-field>
            <p>Hours per week:</p>
            <mat-form-field class="form-field">
                <mat-label>Hours per week</mat-label>
                <input matInput>
            </mat-form-field>
            <p>Username:</p>
            <mat-form-field class="form-field">
                <mat-label>Username</mat-label>
                <input matInput>
            </mat-form-field>
            <p>Email:</p>
            <mat-form-field class="form-field">
                <mat-label>Email</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-label>Status: </mat-label>
            <mat-radio-group name="status">
                <mat-radio-button *ngFor="let stats of status" value="stats.value">
                    {{stats.name}}
                </mat-radio-button>
            </mat-radio-group>
            <p>Role:</p>
            <mat-label>Role: </mat-label>
            <mat-radio-group name="role">
                <mat-radio-button *ngFor="let role of roles" value="role.value">
                    {{role.name}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div mat-dialog-actions class="buttons">
            <div class="inner">
                <button mat-button [mat-dialog-close]="data.animal" class="btn green">Invite team member</button>
                <button mat-button (click)="onNoClick()">Cancel</button>
            </div>
        </div>
    </div>
</ng-container>